// Options

$enable-cssgrid: true;
$enable-negative-margins: true;

$bootstrap-icons-font-dir: '@/../node_modules/bootstrap-icons/font/fonts';

// Typography

$headings-font-family: 'Poppins', sans-serif;
$font-family-base: 'Lato', sans-serif;
$font-size-base: 0.85rem;

// Components

$box-shadow-color: #dddfee !default;

$box-shadow: 0 8px 16px $box-shadow-color;
$box-shadow-sm: 0 2px 4px $box-shadow-color;
$box-shadow-lg: 0 16px 32px $box-shadow-color;
$box-shadow-inset: inset 0 1px 2px $box-shadow-color;

// Forms

$form-label-font-size: 15px;

// Breadcrumbs

$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#6c757d'/></svg>");

// Modals

$modal-content-border-width: 0;

// Carousel

$carousel-indicator-width: 12px;
$carousel-indicator-height: 12px;

$carousel-indicator-spacer: 6px;

// Color System

$primary: #5a7a39;
$secondary: #929dab;
$tertiary: #f4f4f4;
$light: #ffffff;
$dark: #25292c;
$danger: #fa003f;
$gray: #f1f1f1;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'gray': $gray,
);

// Componenets.

$border-radius: 10px;

$focus-ring-opacity: 0.25 !default;
$focus-ring-color: rgba($primary, $focus-ring-opacity) !default;

// Spacing

$spacer: 15px;
$spacers: (
  0: 0,
  1: $spacer * 0.33333333333333333333333333333333,
  2: $spacer * 0.66666666666666666666666666666667,
  3: $spacer,
  4: $spacer * 1.33333333333333333333333333333333,
  5: $spacer * 1.66666666666666666666666666666667,
  6: $spacer * 2,
  7: $spacer * 2.33333333333,
  8: $spacer * 2.66666666667,
  9: $spacer * 3,
  10: $spacer * 3.33333333333,
  11: $spacer * 3.66666666667,
  12: $spacer * 4,
);

// Buttons + Forms

$input-btn-padding-y: 12px;
$input-btn-padding-x: 15px;
$input-btn-font-size: 15px;
$input-btn-pagination-card-border-radius: 10px !default;

// Buttons

$btn-font-size: 15px;
$btn-font-weight: 700;
$btn-border-radius: $input-btn-pagination-card-border-radius;

// Forms

$form-label-font-size: 16px;
$form-label-margin-bottom: 10px;

$input-bg: $tertiary;
$input-color: $dark;
$input-border-color: $primary;
$input-border-radius: $input-btn-pagination-card-border-radius;
$input-focus-border-color: $primary;
$input-placeholder-color: $secondary;

// Navs

$nav-link-color: $secondary;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 20px;
$nav-link-font-size: 16px;
$nav-link-font-weight: 700;
$nav-link-hover-color: $primary;

$nav-pills-border-radius: 0px;
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: $light;

// Pagination

$pagination-color: $primary;
$pagination-border-radius: $input-btn-pagination-card-border-radius;

// Cards

$card-border-radius: $input-btn-pagination-card-border-radius;
